.colum1 {
    background-color: $silver;

    img{
        width: 90%;
        margin-left: 5%;
    }
}

.colum2 {
    background-color: $white;

    img{
        width: 90%;
        margin-left: 5%;
    }
}